@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';


.cardform {
    padding-top: $padding-m;
    margin-top: $margin-l;
    @include flexColumn;
    gap: 0.5rem;
    background-color: $bg-color-light;
    border-radius: 0.5rem;
    margin-bottom: $margin-xl;

    &__title {
        width: 90%;
        padding-left: $padding-m;
        padding-top: $padding-s;
        text-align: left;
        margin: 0;
        font-size: $font-size-small;
    }

    &__card-number {
        width: 90%;
        @include inputField;
        border-radius: 0.5rem;
        border: 1px solid;
    }

    &__card-name {
        @include inputField;
        width: 90%;
        border-radius: 0.5rem;
        border: 1px solid $bg-color-light;
    }

    &__card-vendor {
        width: 90%;
        border-radius: 0.5rem;
        border: 1px solid $bg-color-light;
    }
}

.addBtn {
    @include button;
    width: 150px;
    color: #ffffff;
    margin-bottom: $margin-m;
    margin-top: 10px;
    margin-left: 10px;
    margin-right:10px;
    padding:  20px;
    background-color: #000000;
}

.card-section {
    margin: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    &__title-expiry,
    &__title-cvc {
        text-align: left;
        margin-bottom: 0;
        padding-left: $padding-s;
        font-size: $font-size-small;
    }

    &__card-cvc {
        @include inputField;
        border: 1px solid $bg-color-light;

    }

    &__card-expiry {
        @include inputField;
        border: 1px solid $bg-color-light;
    }
}

.vendor-select {
    border-radius: 10px;
    border: 1px solid transparent;
    padding-top: 12px;
    padding-right: 12px;
    font-size: 16px;
    font-family: inherit;
    padding-bottom: 12px;
    padding-left: 12px;
    margin-left: 10px;

}