@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin inputField {
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
  height: 2rem;
}

@mixin icon-position {
  background-size: 2.4rem;
  background-position: calc(100% - 2rem) 12%;

}

@mixin button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  height: 72px;
  margin-top: 1rem;
}