@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.card{
    width: 382px;
    height: 241px;
    left: 16px;
    border-radius: 8px;
    background-color: $VendorBitcoinOrange;
    
    
}
.chipdark{
    width: 80px;
    height:80px;
}
.vendorbitcoin{
    width: 50px;
    height:50px;
}

.cardTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;

}

.cardTop img{
    margin-top: 20px;

}
.cardMiddel p{
    font-family: 'PT Mono';
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0px;
}



.cardBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    font-family: 'PT Mono';
    
}

.cardTopBottom{
    margin-top: 20px; 
}
.cardLastBottom{
    font-size:18px;
    font-weight: 600;
}