.form{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 40px;
}
.form div{

    margin-top: 15px;
}
span{
    display: block;
    font-family: 'PT Mono';
font-size: 12px;
font-weight: 400;
line-height: 13px;

}
.form input, .form select{
    width: 382px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #000000;
}
.form .validThru, .form .ccv{
    width: 180px;
}

.validThru_ccv{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
