@import '../styles/_mixins.scss';
@import '../styles/_variables.scss';

.addCard{
    width: 382px;
height: 80px;
left: 16px;
border-radius: 8px;
border: 1px solid #000000;
margin-top: 40px;

}

.cardStackGrid{

    display: grid;
    place-content: center;
    grid-template-columns: repeat(1);

    
}