@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;500;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import'../../eWallet/src/styles/mixins.scss';
@import '../../eWallet/src/styles/_variables.scss';

body {

  @include flexColumn;
  align-items: center;
  margin: $margin-m;
  min-width: 300px;
  font-family: 'Source Code Pro', monospace;
}

h1 {
  line-height: 1.1;
}

